<!DOCTYPE <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Chambitas - Regístrate</title>
</head>
<style>
@font-face {
  font-family: 'com_century-gothic';
  src: url('ufonts.com_century-gothic.ttf');
}
body {
    background-color: #f7f7f7;
    font-family: "com_century-gothic";
}
._nvyyp {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.btn {
  background-color: #64cbc8;
  border-color: #64cbc8;
  margin-top: 5px;
  margin-bottom: 0px;
}

.btn:hover {
  background-color: #8cd9d6;
  border-color: #8cd9d6;
}

h1 {
  text-align: center;
}

</style>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="home" data-toggle="tooltip" title="Cancelar">
            <img src="nombreLogo.png" style="width: 150px">
        </a>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <div class="row">
      <div class ="col-md-1"></div>
      <div class="col-md-4">
        <div class="_nvyyp">
          <h1 style="margin-top: 30px; margin-bottom: 70px; text-align: left; margin-left: 50px; font-weight: bold"> Crea una cuenta </h1>

         <div style="margin-left: 35px; margin-right: 10px">
          <div class="col-xs-5">
            <label for="name">Nombre</label>
            <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Nombre" aria-required="true" autocapitalize="off" autocorrect="off" name="Nombre" placeholder="Nombre" value="">
          </div>
        </div>

        <div style="margin-left: 155px">
          <div class="col-xs-8">
           <label for="name">Apellido</label>
            <input type="text" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Apellido" aria-required="true" autocapitalize="off" autocorrect="off" name="Apellido" placeholder="Apellido" value="">
          </div>
        </div>
      
            <div style="margin-left: 50px; margin-right: 50px">
             <label for="name">Correo Electrónico</label>        
              <input type="text" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Correo Electrónico" aria-required="true" autocapitalize="off" autocorrect="off" name="email" placeholder="Correo Electrónico" value=""> 
            </div>
      
            <div style="margin-left: 50px; margin-right: 50px"> 
             <label for="name">Contraseña</label>       
              <input type="password" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Contraseña" aria-required="true" autocapitalize="off" autocorrect="off" name="Contraseña" placeholder="•••••••" value=""> 
            </div>  

            <div style="margin-left: 50px; margin-right: 50px">
             <label for="name">Confirme Contraseña</label>
              <input type="password" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="ConFContraseña" aria-required="true" autocapitalize="off" autocorrect="off" name="ConFContraseña" placeholder="•••••••" value="">
            </div>
            <hr>
   
              <form>
                <div class="form-group" style="margin-left: 50px; margin-right: 50px">
                <label for="name">País</label>
                  <select class="form-control" id="sel1" >
                    <option>Seleccione una opción...</option>
                    <option>México</option>
                    <option>United States</option>
                    <option>Canada</option>
                  </select>
                </div>
              </form>

        <div style="margin-left: 50px; margin-right: 50px">
        <label for="name">Ciudad</label>
          <input type="text" class="form-control" style="margin-bottom: 8px" aria-describedby="" aria-label="Ciudad" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="city" placeholder="Ciudad" value=""> 
        </div>

        <div style="margin-left: 50px; margin-right: 50px">
        <label for="name">Estado</label>
          <input type="text" class="form-control" style="margin-bottom: 8px" aria-describedby="" aria-label="Estado" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="state" placeholder="Estado" value="">
        </div>
        
        <div style="margin-left: 50px; margin-right: 50px">   
          <form action="/app/file_upload" method="POST" enctype="multipart/form-data">  
            <input type="file" class="form-control" name="profile_picture" style="display: none"  value="" id="profile_picture_input">
            <input id="profile_picture_submit" type="submit" class="form-control" name="profile_picture" value="Subir foto" style="display: none">
          </form>  
        </div>
         <hr>
         <div style="margin-left: 50px; margin-right: 50px">
            <a href="/registro" class="btn btn-info btn-block" role="button">Regresar al Menú anterior</a>
         </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="_nvyyp">
        <div class="container-fluid">
            <div class="media">
              <div class="media-left media-top">
                <img class="img-circle" src="{{image_url}}" class="media-object" style="width:125px; margin-left: 250px; margin-top: 40px" id="profile_picture">
              </div>
              <div class="media-body">
                <h2 class="media-heading" style="margin-top: 65px; margin-left: 5px; font-weight: bold">Nombre</h2>
                <h2 class="media-heading" style="margin-left: 5px; font-weight: bold">Apellido</h2>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
            </div>
           </div> 
           <br>
           <br>

          <div style="margin-left: 50px; margin-right: 50px">
            <h4> TERMINOS Y CONDICIONES </h4>
            <div class="form-group">
              <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                  <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute nominati referrentur vis. Dicat erant sit ex. Phaedrum imperdiet scribentur vix no, ad latine similique forensibus vel.</p>
                  <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus ut vel, quo at probatus oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim id, ne munere fierent rationibus mei. Ut pro volutpat praesent qualisque, an iisque scripta intellegebat eam.</p>
                  <p>Mea ea nonumy labores lobortis, duo quaestio antiopam inimicus et. Ea natum solet iisque quo, prodesset mnesarchum ne vim. Sonet detraxit temporibus no has. Omnium blandit in vim, mea at omnium oblique.</p>
                  <p>Eum ea quidam oportere imperdiet, facer oportere vituperatoribus eu vix, mea ei iisque legendos hendrerit. Blandit comprehensam eu his, ad eros veniam ridens eum. Id odio lobortis elaboraret pro. Vix te fabulas partiendo.</p>
                  <p>Natum oportere et qui, vis graeco tincidunt instructior an, autem elitr noster per et. Mea eu mundi qualisque. Quo nemore nusquam vituperata et, mea ut abhorreant deseruisse, cu nostrud postulant dissentias qui. Postea tincidunt vel eu.</p>
                  <p>Ad eos alia inermis nominavi, eum nibh docendi definitionem no. Ius eu stet mucius nonumes, no mea facilis philosophia necessitatibus. Te eam vidit iisque legendos, vero meliore deserunt ius ea. An qui inimicus inciderint.</p>
              </div>
            </div>
          </div>


       <div style="margin-left: 50px; margin-right: 50px">
          <form>
            <div class="radio">
              <label><input type="radio" name="optradio">Acepto los términos y condiciones</label>
            </div>
          </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="/../iniciarSesion" class="btn btn-info btn-block" role="button">Registrarse</a>
          </div> 
          <br>
          <br>
          <br>
          <br>   
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="row-md-12">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  <br>
  <hr>
  <p style="text-align: right; margin-right: 50px; text-align: bottom"> Chambitas 2016 </p> 
  </div>
</div>  
  </div>

</div>  
</body>

<script src="js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/class.js" type="text/javascript"></script>

</html>