<!DOCTYPE <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Chambitas - Home</title>
</head>
<style>
@font-face {
  font-family: 'com_century-gothic';
  src: url('ufonts.com_century-gothic.ttf');
}
body {
    background-color: #f7f7f7;
    font-family: "com_century-gothic";
}
._nvyyp {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.btn {
  background-color: #64cbc8;
  border-color: #64cbc8;
  margin-top: 5px;
  margin-bottom: 0px;
}

.btn:hover {
  background-color: #8cd9d6;
  border-color: #8cd9d6;
}

h1 {
  text-align: center;
}

</style>

<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="homeUsuarios">
        <img src="nombreLogo.png" style="width: 150px">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="chat"><span class="glyphicon glyphicon-inbox" ></span></a></li>
     <span class="badge">15</span>
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style=" margin-top: 8px; border: none; background-color: #f7f7f7;">
        <span class="glyphicon glyphicon-user"></span></a></li>
        <span class="caret"></span>

      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Editar Perfil</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="guardados.html">Guardados</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cerrar Sesión</a></li>
      </ul>
    </ul>
  </div>
</nav>


  <div class="row">
    <div class ="col-md-1"></div>
    <div class="col-md-2">
      <div class="_nvyyp">
          <h3 style="font-weight: bold; text-align: center"> Categorías </h3>
          <hr>
          <br>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="hogarBusqueda">Ayudante del Hogar</a>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="carpinteriaBusqueda">Carpintería</a>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="cerrajeriaBusqueda">Cerrajería</a>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="construccionBusqueda">Construcción y Decor.</a>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="electricistaBusqueda">Electricista</a>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="instalacionesBusqueda">Instalaciones</a>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="jardineriaBusqueda">Jardinería</a>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="tecnicoBusqueda">Técnico</a>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
            <a href="homeUsuarios.html" class="btn btn-info btn-block" role="button" id="plomeriaBusqueda">Plomería</a>
          </div>
          <br>
          <br>
        </div>
    </div>
    <div class="col-md-6">
        <div class="_nvyyp">
          <div class="container-fluid">
            <div class="media">
            <a href="homeUsuarios.html" class="btn btn-info" role="button" style="margin-left: 565px">Guardar</a>
              <div class="media-left media-top">
                <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:125px; margin-left: 200px; margin-top: 40px">
              </div>
              <div class="media-body">
                <h2 class="media-heading" style="margin-top: 65px; margin-left: 5px">Juan</h2>
                <h2 class="media-heading" style="margin-left: 5px">Pérez</h2>
                <h4 class="media-heading" style="margin-left: 5px; margin-top: 10px">Zapopan • Jalisco</h4>
              </div>
              <h4 style="text-align: center"> Jardinería | <span class="glyphicon glyphicon-star" ></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty" ></span><span class="glyphicon glyphicon-star-empty"></span></h4>
              <br>
              <hr>
              <br>
              <ul class="a">
                <li>Oxigenación de suelo, cajetes y jardines</li>
                <li>Limpieza de césped, jardineras y cajetes</li>
                <li>Diseño de jardines</li>
                <li>Podas y derribo de árboles</li>
                <li>Conservación y perfilado de cetos y jardines</li>
                <li>Cortar el césped y sus bordes</li>
              </ul>
              <br>
              <span class="glyphicon glyphicon-menu-left"></span>
              <span class="glyphicon glyphicon-menu-right" style="margin-left: 620px"></span>
            </div>
           </div> 
        </div>    
    </div>
    <div class ="col-md-2">
      <div class="_nvyyp">
        <div class="row-md-3">
          <img src="http://www.businessreviewamericalatina.com/public/uploads/large/large_article_im450_homedepot.jpg" style="width: 200px; height: 150px; margin-left: 5.5px; margin-bottom: 5px">
        </div>
        <div class="row-md-3">
          <img src="https://www.acayucan.com/anuncios/Comex2012.jpg" style="width: 200px; height: 180px; margin-left: 5.5px; margin-bottom: 5px">
        </div>
        <div class="row-md-3">
          <img src="http://1.bp.blogspot.com/-69ICIhyzFVE/ViUmxCcxzwI/AAAAAAAADzA/MSy_UFPRzdM/s1600-r/intercramic%2Bbanner.bmp" style="width: 200px; margin-left: 5.5px; margin-bottom: 5px">
        </div>
        <div class="row-md-3">
          <img src="https://scontent-dft4-1.xx.fbcdn.net/t31.0-8/15235367_10157696457505468_3553033073448234861_o.png" style="width: 200px; margin-left: 5.5px; margin-bottom: 5px">
        </div>
      </div>
    </div>
    <div class ="col-md-1"></div>
  </div>
<div class="row-md-12">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  <br>
  <br>
  <br>
  <br>
  <hr>
  <p style="text-align: right; margin-right: 50px; text-align: bottom"> Chambitas 2016 </p> 
  </div>
</div>  
</body>

<script src="js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/class.js" type="text/javascript"></script>

</html>
