<!DOCTYPE <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" src="../css/font-awesome.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Chambitas</title>
</head>
<style>
@font-face {
  font-family: 'com_century-gothic';
  src: url('../ufonts.com_century-gothic.ttf');
}
body {
    background-color: #f7f7f7;
    font-family: "com_century-gothic";
}
._nvyyp {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

h1 {
  text-align: center;
}

.btn {
  background-color: #64cbc8;
  border-color: #64cbc8;
  margin-top: 5px;
  margin-bottom: 0px;
}

.btn:hover {
  background-color: #8cd9d6;
  border-color: #8cd9d6;
}

</style>

<body>
<div class="row-md-12"></div>

  <div class="row">
    <div class ="col-md-1"></div>
      <div class="col-md-5">
          <img src="/../public/output_yXs7Zw.gif" style="width: 600px; margin-top: 200px">
      </div>

    <div class="col-md-5">
      <br>
      <br>
      <br>
        <div class="_nvyyp" style="margin-top: 70px">
          <img src="/../public/nombreLogo.png" style="width: 500px; margin-left: 30px; margin-top: 80px; margin-bottom: 100px" id="Chambitas">
          <br>
          <br>
          <div style="margin-left: 220px; margin-right: 220px">
            <a href="registro" class="btn btn-info btn-block" role="button">Crear Cuenta</a>
          </div>
          <div style="margin-left: 220px; margin-right: 220px">
            <a href="iniciarSesion" class="btn btn-info btn-block" role="button">Iniciar Sesión</a>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>    
    </div>
    <div class ="col-md-2"></div>
  </div>
<div class="row-md-12">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  <br>

  <br>
  <br>
  <br>
  <hr>
  <p style="text-align: right; margin-right: 50px; text-align: bottom"> Chambitas 2016 </p> 
  </div>
</div>  

</div>  
</body>

<script src="/../js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="/../js/functions.js" type="text/javascript"></script>
<script src="/../js/class.js" type="text/javascript"></script>

</html>
