<!DOCTYPE <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Chambitas - Iniciar Sesión</title>
</head>
<style>
@font-face {
  font-family: 'com_century-gothic';
  src: url('ufonts.com_century-gothic.ttf');
}
body {
    background-color: #f7f7f7;
    font-family: "com_century-gothic";
}
._nvyyp {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

h1 {
  text-align: center;
}

.btn {
  background-color: #64cbc8;
  border-color: #64cbc8;
  margin-top: 5px;
  margin-bottom: 0px;
}

.btn:hover {
  background-color: #8cd9d6;
  border-color: #8cd9d6;
}

</style>

<body>
<div class="row-md-12"></div>

  <div class="row">
    <div class ="col-md-1"></div>
      <div class="col-md-5">
          <img src="output_yXs7Zw.gif" style="width: 600px; margin-top: 200px">
      </div>

    <div class="col-md-5">
        <br>
      <br>
      <br>
        <div class="_nvyyp" style="margin-top: 70px">
          <img src="nombreLogo.png" style="width: 500px; margin-left: 30px; margin-top: 80px; margin-bottom: 80px">
          <br>
          <br>
          <div style="margin-left: 180px; margin-right: 180px">
             <input type="text" class="form-control" style="margin-bottom: 8px" aria-describedby="" aria-label="Correo electrónico" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" placeholder="Correo electrónico" value="">
          </div>
          <div style="margin-left: 180px; margin-right: 180px">
            <input type="password" class="form-control" style="margin-bottom: 15px"aria-describedby="" aria-label="Contraseña" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="Contraseña" value="">
          </div>
          <div style="margin-left: 180px; margin-right: 180px">
            <a href="homeUsuarios" class="btn btn-info btn-block" role="button">Entrar</a>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div> 
        <div class="_nvyyp">
          <p style="text-align: center"> ¿No tienes cuenta? </p>
          <p style="text-align: center"><b><a href="../registro">Regístrate</a></b></p>
        </div>   
    </div>
    <div class ="col-md-2"></div>
  </div>
<div class="row-md-12">
  <div class="col-md-8"></div>
  <div class="col-md-4">

  <hr>
  <p style="text-align: right; margin-right: 50px; text-align: bottom"> Chambitas 2016 </p> 
  </div>
</div>  

</div>  
</body>

<script src="js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/class.js" type="text/javascript"></script>

</html>
