<!DOCTYPE <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Chambitas - Regístrate</title>
</head>
<style>
@font-face {
  font-family: 'com_century-gothic';
  src: url('ufonts.com_century-gothic.ttf');
}
body {
    background-color: #f7f7f7;
    font-family: "com_century-gothic";
}
._nvyyp {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

h1 {
  text-align: center;
}

</style>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../" data-toggle="tooltip" title="Cancelar">
            <img src="nombreLogo.png" style="width: 150px">
        </a>
    </div>
  </nav>
  <br>
  <br>
  <br>

  <div class="row">
      <div class ="col-md-1"></div>
      <div class="col-md-4">
        <div class="_nvyyp">
          <h1 class="_du7bh"> Crea una cuenta </h1>
          <hr>
          <div style="margin-left: 50px; margin-right: 50px">
          <form>
          <label for="name">Seleccione una opción...</label>
            <div class="radio">
              <label><input type="radio" name="optradio" onclick="window.location='/busco';">Busco un trabajador</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" onclick="window.location='/soy';">Soy un trabajador</label>
            </div>
          </form>
        </div>

    
    </div>
  <div class="col-md-1"></div>
  <div class="row-md-12">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr>
  <p style="text-align: right; margin-right: 50px; text-align: bottom"> Chambitas 2016 </p> 
  </div>
</div>  
</div> 

</body>

<script src="js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/class.js" type="text/javascript"></script>

</html>